body {
    background: rgb(65, 130, 123);
}

h1 {
    color: white;
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
}

h2 {
    color: rgb(213, 190, 194);
    font-size: 28px;
    font-style: italic;
    font-weight: bold;
}

h3 {
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
}

p {
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
}

ul li {
    color: rgb(213, 190, 194);
}

a {
    color: rgb(213, 190, 194);
}


.about-section {
    width: 80%;
    padding: 20px;
    margin: 20px auto;
    background-color: rgb(12, 14, 14);
    border: 2px solid white;
}


.card {
    border-radius: 10px;
}

#about-me {
    height: 250px;
    border-color: rgb(213, 190, 194);
}

#career-goals {
    height: 600px;
    border-color: white;
}
